.homeHeader{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .homeHeaderPicture{
        height: 100vh;
        background-image: url('/assets/Home-Hero-Image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 90% 70%;
    }
}
.homeHeaderLoginBnt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
   
    a {
        height: 100px;
    }
    
}
.homeHeaderLogin{
    display: flex;
    color: $grey-color;
    padding: 10px 20px;
    opacity: 1;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    margin-top: 10px;
    border: 0.75px solid rgba(0,0,0,0);
    &:hover{
        border-color: $yellow-color;
    }
}

.homeHeaderNavi{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    }
    .homeNavList ul{
        display: flex;
        list-style: none;
        font-size: 16px;
        color: $dark-grey-color;
        flex-direction: row;
        font-weight: bold;
        padding: 0;
        justify-content: flex-end;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px 20px;
            margin-left: 10px;
            border: 0.75px solid rgba(0,0,0,0);
            &:hover {
                border-color: #3C3C3C;
            }
        }
    }
  
  .decoration{
      width: 253px;
      height: 150px;
      border: none;
      margin-left: 175px ;
      margin-bottom: 50px ;
  }
    .letsStartHelp{
        display: flex;
        height: 100px;
        justify-content: flex-start;
        margin-top: 100px;
        flex-direction: column;

        .letsStartWorld{
            display: flex;
            justify-content: flex-start;
            font-size: 30px;
            color: $dark-grey-color;
            text-align: center;
            margin-left: 30px;
    }
    .letsStartHelpBnt{
        display: flex;
        flex-direction: row;
        .getItems{
            display: flex;
            align-items: center;
            justify-content:center;
            font-size: 24px;
            border: 0.75px solid $dark-grey-color;
            width: 250px;
            height: 120px;
            margin-left: 30px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}




