.logForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    margin-top: 50px;
    .decor{
            width: 253px;
            height: 75px;
            border: none;
    }
}
.logFormInputs{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0F1F1;
    width: 400px;
    height: 250px;

    div {
        padding: 15px;
        align-self: start;
        margin-left: 95px;
    }
    input{
        opacity: 0.15;
        border: 0;
         outline: 0;
        border-bottom: 1px solid $dark-grey-color;
    }   
}   
.loginFormBnt{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: lighter;
    justify-content: space-between;
    width: 500px;
    margin-top: 50px;
    div{
        border: 0.75px solid #3C3C3C;
        padding: 10px;
        &:hover{
            transform: scale(1.1);
            color:#3C3C3C;
        }
       
    }
}
.loginErrors{
    color: #ff0000;
    font-size: 12px;
}

.closeBnt{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 4   0px;
    a {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: flex-end
    }

    .close-container{
        position: relative;
        width:  100px;
        height: 100px;
        cursor: pointer;   
    
      }
      
      .leftright{
        height: 4px;
        width: 50px;
        position: absolute;
        margin-top: 24px;
        background-color: $dark-grey-color;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
        display:flex;
        justify-content:flex-end;
        align-items: flex-end;
      }
      
      .rightleft{
        height: 4px;
        width: 50px;
        position: absolute;
        margin-top: 24px;
        background-color: $dark-grey-color;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all .3s ease-in;
      }
      
      label{
        color: #3C3C3C;
        font-family: Helvetica, Arial, sans-serif; 
        font-size: .6em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .3s ease-in;
        opacity: 0;
      }
      .close{
        margin: 60px 0 0 5px;
        position: absolute;
      }
      
      .close-container:hover .leftright{
        transform: rotate(-45deg);
        background-color: $yellow-color;
      }
      .close-container:hover .rightleft{
        transform: rotate(45deg);
        background-color: $yellow-color;
      }
      .close-container:hover label{
        opacity: 1;
      }
      
}
.regFormInputs{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0F1F1;
    width: 400px;
    height: 350px;

    div {
        padding: 15px;
        align-self: start;
        margin-left: 95px;
    }
    input{
        opacity: 0.15;
        border: 0;
         outline: 0;
        border-bottom: 1px solid $dark-grey-color;
    }   
}   
.regForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    .decor{
            width: 253px;
            height: 75px;
            border: none;
    }
}

.logOut{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .logOutForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 40px;
        .decor{
                width: 253px;
                height: 75px;
                border: none;
        }
    }

    .logOutFormBnt{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: lighter;
        justify-content: center;
        width: 500px;
        margin-top: 30px;
        div{
            border: 0.75px solid #3C3C3C;
            padding: 10px;
            &:hover{
                transform: scale(1.1);
                color:#3C3C3C;
            }
           
        }
    }
    
}
