.threeColumns{
    height: 100vh;
}


.threeColumnsComponent{
    background-image: url('/assets/3\ Columns\ Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   .columns{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
      font-weight: lighter;
       text-align: center;
       height: 10vh;
   }
   .howManyBags{
    font-size: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
   }
    .loremText{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        font-family: $font-alt;
        font-size: 12px;
        font-weight: lighter;
        margin-top: 20px;
    }
}
.fourSteps{
    display: flex;
    flex-direction: column;
    height: 150px;
}
.fourStepsHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
    margin: 0;
    .decorations{
        width: 253px;
        height: 100px;
        border: none;
    }
}
.fourStepsIcon{
    background-color: $light-grey-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .icon{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    .tshirt{
        background-image: url(/assets/Icon-1.svg);
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 10px;
    }
    .pack{
        background-image: url(/assets/Icon-2.svg);
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 10px;
    }
    .help{
        background-image: url(/assets/Icon-3.svg);
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 10px;
    }
    .postman{
        background-image: url(/assets/Icon-4.svg);
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 10px;
    }
    .chooseItems{
        font-size: 18px;
        color: $dark-grey-color;
    }
    .border{
    border: 0.5px solid $dark-grey-color;
    width: 70px;
    margin: 5px 0;
    }
    .stepsOptions{
        font-size: 16px;
        color: $dark-grey-color
    }
}
}
.getItemBnt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    margin-top: 15px;
    .getItem{
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 24px;
        border: 0.75px solid $dark-grey-color;
        padding: 15px;

            a{
                color: $dark-grey-color;
            }
        
        &:hover{
            transform: scale(1.1);
        }
}

}
